
.gform_wrapper.gform_wrapper {

  // Inputs
  .gform_footer input.button,
  .gform_footer input[type=submit] {
    @include button( $button-color );
  }

  input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
  input[type="email"],
  input[type="password"],
  input[type="text"],
  input[type="tel"],
  input[type="number"],
  input[type="url"],
  input[type="search"],
  textarea {
    padding: .5em .75em;
  }

}


.request-demo-form{

  .gform_wrapper.gform_wrapper {

    // Inputs
    .gform_footer input.button,
    .gform_footer input[type=submit] {
      @include button( $button-color );
    }

    input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
    input[type="email"],
    input[type="password"],
    input[type="text"],
    input[type="tel"],
    input[type="number"],
    input[type="url"],
    input[type="search"],
    textarea {
      padding: .8em .75em;
      border-radius: 5px;
      border: 1px solid #D9DBDE;
      width: 100%;
    }
    input::placeholder{
      color: #002449 !important;
    }
    .gfield_select{
    padding: .5em .75em !important;
    border-radius: 5px;
    border: 1px solid #d9dbde;
    width: 100%;
    height: 50px;
    padding-left: 0.5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: #fff url(../img/icons/arrow-down-form.png) no-repeat 98% 55%;
    background-size: 16px 12px;
    }
    .gfield_select{
    font-size: 16px;
    padding-left: 2em;
    }

    select#input_1_5{
      color: #002449 !important;
      padding-left: 2em;
    }
    label{
      @include visuallyhidden;
    }
    ::placeholder{
        color: #403f43 !important;
        font-size: 16px;
    }

  }
  h3.gform_title{
  font-size: 36px !important;
  font-weight: 300 !important;
  color: $color-blue--dark;
  }
  .gform_wrapper ul.gform_fields li.gfield{
    padding-right: 0;
  }
}

.gform_footer input[type=submit] {
  background: #002549; /* Old browsers */
  background: -moz-linear-gradient(left, #002549 0%, #004c80 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #002549 0%,#004c80 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #002549 0%,#004c80 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}






  .gform_wrapper.gform_wrapper {

    // Inputs
    .gform_footer input.button,
    .gform_footer input[type=submit] {
      @include button( $button-color );
    }

    input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
    input[type="email"],
    input[type="password"],
    input[type="text"],
    input[type="tel"],
    input[type="number"],
    input[type="url"],
    input[type="search"],
    textarea {
      padding: .8em .75em;
      border-radius: 5px;
      border: 1px solid #D9DBDE;
      width: 100%;
    }
    .gfield_select{
    padding: .5em .75em !important;
    border-radius: 5px;
    border: 1px solid #d9dbde;
    width: 100%;
    height: 50px;
    padding-left: 0.5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: #fff url(../img/icons/arrow-down-form.png) no-repeat 98% 55%;
    background-size: 16px 12px;
    }
    .gfield_select{
    font-size: 16px;
    padding-left: 2em;
    }
    label{
      @include visuallyhidden;
    }
    ::placeholder{
        color: $color-blue--dark;
        font-size: 16px;
    }

  }
  h3.gform_title{
  font-size: 36px !important;
  font-weight: 300 !important;
  color: $color-blue--dark;
  }
  .gform_wrapper ul.gform_fields li.gfield{
    padding-right: 0;
  }


.gform_footer input[type=submit] {
  background: #002549; /* Old browsers */
  background: -moz-linear-gradient(left, #002549 0%, #004c80 100%) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #002549 0%,#004c80 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #002549 0%,#004c80 100%)  !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  transition: none !important;
  &:hover{
    background: #004C80 !important;
  }
}

.gform_title{
  display: none !important;
}

select{
  color: $color-blue--dark;
  padding-left: 2em;
}
