//
//  Sidebar
//-------------------------------------------------------

.sidebar {
  margin-top: 3em;

  @include breakpoint($bp-med) {
    margin-top: 0;
  }
}

.advanced-sidebar {

  @include breakpoint($bp-med) {
    @include visuallyhidden;
  }

  .sidebar {
    display: none;
    margin-top: 0;
    margin-bottom: 2em;
    @include breakpoint($bp-large){
      display: block;
    }
  }
}
