//
//  Footer
//-------------------------------------------------------

.site-footer {
}


.primary-footer {
  @include clearfix;
  padding: 3em 0;
  padding-bottom: 3.6em;

}


.footer-col-1,
.footer-col-2 {
  @include breakpoint($bp-med) {
  .flexbox{
    flex: 1;
    border: 1px solid red;
  }
  }
}


.footer-address,
.footer-social {

  a {
  }
}

.footer-address {

}

.footer-social {
  text-align: center;

  @include breakpoint($bp-med) {
    text-align: right;
  }
}

.site-copyright {
  text-align: center;

  @include breakpoint($bp-med) {
    text-align: left;
  }
}

.imagebox {
  text-align: center;

  @include breakpoint($bp-med) {
    display: inline-block;
    vertical-align: top;
  }

  svg {
    margin-bottom: -8px;
  }

  a {
    color: #fff;
    transition: opacity 500ms;

    &:hover,
    &:focus {
      opacity: .75;
    }
  }
}


.primary-footer{
  text-transform: uppercase;
  font-weight: 700;
  color: $color-blue--dark;
  background: $color-grey--light;
  .wrap{
    &:after{
      content: none;
    }
      .flexbox &{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        @include breakpoint($bp-meder){
          flex-direction: row;
        }
      }
    .footer-copy{
      justify-content: space-between;
      margin-top: 1em;
      width: 100%;
      @include breakpoint($bp-meder){
      margin-top: 0em;
      width: auto;
      flex: 2;
      }
      .footer-copy{
        .flexbox &{
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          @include breakpoint($bp-smaller){
            flex-direction: row;
            text-align: left;
          }
        }
      }
      .navigation--main{
        width: auto;
        margin-top: 1.5em;
        text-align: center;
        @include breakpoint($bp-smaller){
        margin-right: 2.5em;
        text-align: left;
        margin-right: 1.5em;
        margin-top: 0;
        }
      li{
        display: block;
        transition: 0.5s;
        margin-left: 0;
        position: relative;
        &:after{
        content: "";
        /* display: block; */
        color: red;
        position: absolute;
        width: 30px;
        height: 30px;
        right: -15px;
        top: -2px;
        background-image: url(../img/icons/button-arrow.png);
        background-position: 100%;
        background-repeat: no-repeat;
        transition: 0.5s;
        }
          a{
            margin: 0;
            padding: 0.2em;
            transition: 0.5s;
            @include breakpoint($bp-med){
              @include font-size(16);
            }
            @include breakpoint($bp-large) {
              @include font-size(16);
            }
            @include breakpoint($bp-xl) {
              @include font-size(16);
            }
          }
        }
        li:hover:after{
          right: -20px;
          transition: 0.5s;
        }
        li:first-child{
          &:after{
            color: red;
            position: absolute;
            width: 30px;
            height: 30px;
            right: -9px;
            top: -2px;
            background-image: url(../img/icons/button-arrow.png);
            background-position: 100%;
            background-repeat: no-repeat;
            transition: 0.5s;
            @include breakpoint($bp-med){
            right: -14px;
            }
          }
        }
        li:first-child:hover:after{
      right: -20px;
        }
      }
      p{
        margin: 0;
        color: $color-blue--dark;
      }
      a{
          color: $color-blue--dark;
      }
        span{
            color: $color-blue--dark;
        }
      }
      .footer-logo{
        flex: 1;
      }
      .footer-street-address{
        margin-bottom: 1.5em;
        @include breakpoint($bp-smaller){
          margin-bottom: 0;
        }
      }
    }
}


.fart{
  position: relative;
}

.fart:after{

}


.primary-footer {
  p{
    a{
      text-decoration: none;

    }
  }
}


.primary-footer{
  .nav-list{
    text-align: left !important;
    .flexbox &{
      display: flex;
      flex-direction: column;
      text-align: left;
      align-items: flex-start;
    }
  }
}
