//
//  Header
//-------------------------------------------------------

.site-header {
  display: none;
  text-align: center;
  background: #fff;
  transition: padding 250ms, background-color 250ms, transform 250ms;
  transform: translateZ(0);
  z-index: 50;

  @include breakpoint($bp-med) {
    display: block;
    text-align: left;
  }

  @include breakpoint($bp-med--tall) {
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    z-index: 100;
  }

  .admin-bar & {
    @include breakpoint($bp-med--tall) {
      top: 2em;
    }
  }

  &.minify-header {
    @include breakpoint($bp-med--tall) {
      background-color: rgba( $bkg-med-grey, 0.95 );
      box-shadow: $box-shadow;
    }
  }

  .wrap {
    position: relative;
  }
}

@supports ( backdrop-filter: blur(10px) ) or ( -webkit-backdrop-filter: blur(10px) ) {
  .site-header {
    &.minify-header {
      @include breakpoint($bp-med--tall) {
        background-color: rgba( $bkg-med-grey, .75 );
        backdrop-filter: blur(10px);
      }
    }
  }
}

.site-header-top {
  position: absolute;
  right: 1em;
  top: 0;
}

.site-header-inner {
  @include clearfix;
  padding: 1em 0;
  transition: padding 500ms;

  .flexbox & {
    @include breakpoint($bp-med) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .minify-header & {
    @include breakpoint($bp-med--tall) {
      padding: .25em 0;
    }
  }
}

.header-col-1 {
  @include breakpoint($bp-med) {
    float: left;
    width: 18%;
  }
  @include breakpoint($bp-large) {
    width: 25%;
  }
}

.header-col-2 {
  @include breakpoint($bp-med) {
    float: right;
    width: 75%;
  }

  .flexbox & {
    @include breakpoint($bp-med) {
      flex: 1 0 auto;
      display: flex;
      align-items: center;

    }
  }
  .button{
    margin-bottom: 0;
    list-style: none;
    @include breakpoint($bp-med){
      padding: 1em 1.35em;
      margin-left: 0.7em;
    }
    @include breakpoint($bp-large){
      margin-left: 1em;
    }
    @include breakpoint($bp-xl){
      margin-left: 1.5em;
    }
    a{
      z-index: 5;
      position: relative;
      color: white;
      @include breakpoint($bp-med){
        @include font-size(14);
      }
      @include breakpoint($bp-large){
        @include font-size(15);
      }
      @include breakpoint($bp-xl){
        @include font-size(16);
      }
    }
  }
  nav{
    .flexbox &{
      display: flex;
      justify-content: flex-end;
    }
  }
}

.site-branding {
  transition: transform 500ms;

  a {
    display: inline-block;
    vertical-align: top;
    transition: opacity 500ms;

    &:hover,
    &:focus {
      svg,
      img {
        opacity: .75;
      }
    }
  }

  svg,
  img {
    display: block;
    transition: opacity 500ms;
    transform: translateZ(0);
    backface-visibility: hidden;
  }

  .minify-header & {
    @include breakpoint($bp-med--tall) {
      // Fix image blur - 'translateZ' forces hardware
      // acceleration for soother animation
      transform: translateZ(0) scale(.85);
      // Fix image blur - Simplifies the animation
      // to front-face only
      backface-visibility: hidden;
    }
  }
}

.button--container{
  margin-top: 0.7em;
  @include breakpoint($bp-med){
    margin-top: 0;
  }
  .button{
    list-style: none;
  }
}

.site-header.minify-header{
  background: #fff !important;
}




.home-primary-menu .nav-list{
  > li{
    &:last-child{
       a{
          @include button( $button-color );
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#004c80+0,002549+100 */
          background: #004c80; /* Old browsers */
          background: -moz-linear-gradient(left, #004c80 0%, #002549 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(left, #004c80 0%,#002549 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right, #004c80 0%,#002549 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004c80', endColorstr='#002549',GradientType=1 ); /* IE6-9 */
          position: relative;
          overflow: hidden;
          &:before{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #002549; /* Old browsers */
            background: -moz-linear-gradient(left, #002549 0%, #004c80 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #002549 0%,#004c80 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #002549 0%,#004c80 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002549', endColorstr='#004c80',GradientType=1 ); /* IE6-9 */
            z-index: -1;
            -webkit-transition: opacity .5s;
            -o-transition: opacity .5s;
            transition: opacity .5s;
            content: ' ';
          }
          &:hover,
          &:active{
            background: #004C80;
            -webkit-transition: color .5s;
            -o-transition: color .5s;
            transition: color .5s;
            overflow: hidden;
            &:before{
              opacity: 0;
            }
          }
          span{
            position: relative;
          }
          a{
            color: #fff;
            text-decoration: none;
            &:hover,
            &:active{
              color: #fff;
              text-decoration: none;
            }
          }
        }
      }
    }
}



.mobile-nav > li:last-child a{
  text-decoration: none;
    -webkit-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
    display: inline-block;
    vertical-align: baseline;
    border: 0;
    text-align: center;
    cursor: pointer;
    -webkit-transition: color .5s,background .5s;
    -o-transition: color .5s,background .5s;
    transition: color .5s,background .5s;
    border-radius: 5px;
    padding: 1.1em 2.4em;
    color: #fff;
    font-size: .9375em;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    background: #403f43;
    background: #004c80;
    background: -webkit-gradient(linear,left top,right top,from(#004c80),to(#002549));
    background: -o-linear-gradient(left,#004c80 0,#002549 100%);
    background: linear-gradient(90deg,#004c80 0,#002549);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#004c80",endColorstr="#002549",GradientType=1);
    position: relative;
    overflow: hidden;
}
