
.page-template-template-home {
  .learn-more-section{
    background: $color-blue--light;
    @include breakpoint($bp-larger){
      padding-bottom: 9em;
    }
  .learn-more-header{
    @include breakpoint($bp-med){
      border-bottom: 1px solid #fff;
      padding-bottom: 2.4em;
    }
    .flexbox &{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    h2{
      @include font-size(30);
      margin-bottom: 0;
      @include breakpoint($bp-small){
      @include font-size(36);
      }
    }
  }
  .learn-more-body{
    padding-top: 2.4em;
    .flexbox &{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @include breakpoint($bp-med){
        flex-wrap: nowrap;
      }
    }
    .learn-more-card{
      background: #fff;
      border-radius: 5px;
      padding: 1.5em;
      flex-basis: 100%;
      margin-bottom: 1.1em;
      &:last-child{
        margin-bottom: 0;
      }
      @include breakpoint($bp-med){
        flex-basis: 31%;
        margin-bottom: 0;
        margin-left: 2em;
        &:first-child{
          margin-left: 0;
        }
      }
      .learn-more-card-header{
        h4{
          font-weight: 400;
          @include breakpoint($bp-large){
          @include font-size(20);
          color: $color-blue--dark;
          }
          @include breakpoint($bp-xl){
          @include font-size(24);
          }
        }
        p{
          @include font-size(16);
        }
        img{
          order: -5;
          margin-bottom: 1.2em;
          @include breakpoint($bp-med){
          order: 0;
          margin-bottom: 0.9em;
          }
        }
        .flexbox &{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            @include breakpoint($bp-med){
            flex-direction: row;
            align-items: center;
            }
          }
        }
      }
    }
  }

  .our-client-content{
    position: relative;
    .flexbox &{
      display: flex;
      justify-content: center;
      flex-direction: column;
      @include breakpoint($bp-larger){
      flex-direction: row;
      }
    }
    .our-client-image{
      @include breakpoint($bp-larger-1){
        position: absolute;
        left: 0;
        top: -42px;
      }
      @include breakpoint($bp-larger){
        top: -122px;
      }
      .our-client-image-box{
        margin-bottom: 1.5em;
        position: relative;
        @include breakpoint($bp-med){
        height: 363px;
        width: 436px;
        }
        @include breakpoint($bp-larger){
        height: 500px;
        width: 600px;
        }
        .split-image{
          @include breakpoint($bp-med){
            @include block-fit-cover;
            position: static;
            -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.13);
            -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.13);
            box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.13);
          }
          img {
            margin: 0;
            display: block;
          }
        }
      }
    }
    .our-client-body{
      margin-left: 0em;
      @include breakpoint($bp-larger-1){
        margin-left: 30em;
      }
      @include breakpoint($bp-larger){
        margin-left: 40em;
      }
      .our-client-header{
        border-bottom: 3px solid #D8DADC;
        margin-bottom: 1.5em;
        h2{
          @include font-size(34);
          @include breakpoint($bp-large){
            @include font-size(34);
          }
          @include breakpoint($bp-larger){
            @include font-size(36);
          }
        }
        span{
          font-weight: 300;
        }
      }
      .our-client-copy{
       p{
        margin-bottom: 2.5em;
       }
      }
    }
  }
  .resource-section{
    .resource-learn-more-header{
      border-bottom: 3px solid #D8DADC;
      padding-bottom: 2.4em;
      .flexbox &{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      h2{
        margin-bottom: 0;
      }
    }
    .resource-learn-more-body{
      padding-top: 2.4em;
      h3{
        @include font-size(24);
        font-weight: 400;
        margin-top: 0.4em;
        a{
          text-decoration: none;
        }
      }
      .learn-more-cats{
        a{
          color: $color-blue--light;
          text-decoration: none;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }
    .grid-item-header{
      .flexbox &{
        display: flex;
      }
      img{
        margin-right: 0.8em;
      }
    }
  }

  .request-demo-section{
    position: relative;
    padding: 3em 0;
    .request-demo-content{
      .flexbox &{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        @include breakpoint($bp-meder-1){
        flex-direction: row;
        }
      }
      .request-demo-form{
        width: 100%;
        border-radius: 5px;
        background: #D9DBDE;
        padding: 1em 2.5em;
        @include breakpoint($bp-meder-1){
        max-width: 380px;
        min-width: 380px;
        width: 380px;
        }
        @include breakpoint($bp-meder){
          max-width: 540px;
          min-width: 540px;
          width: 540px;
        }
      }
      .request-demo-body{
        margin-right: 0em;
        margin-top: 8.5em;
        margin-bottom: 3em;
        @include breakpoint($bp-meder-1){
        margin-top: 5.5em;
        margin-bottom: 0;
        }
        @include breakpoint($bp-larger-1){
        }
        @include breakpoint($bp-larger){
        }
        .request-demo-header{
          border-bottom: 3px solid $color-blue--light;
          margin-bottom: 1.5em;
          h2{
            @include font-size(31);
            color: white;
            font-weight: 300;
            @include breakpoint($bp-meder-1){
              @include font-size(36);
            }
            span{
              font-weight: 700;
            }
          }
        }
        &:before{
          content: "";
          width: 100%;
          height: 539px;
          background: rgba(0,37,73,1);
          background: -moz-linear-gradient(left, rgba(0,37,73,1) 0%, rgba(0,77,128,1) 100%);
          background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,37,73,1)), color-stop(100%, rgba(0,77,128,1)));
          background: -webkit-linear-gradient(left, rgba(0,37,73,1) 0%, rgba(0,77,128,1) 100%);
          background: -o-linear-gradient(left, rgba(0,37,73,1) 0%, rgba(0,77,128,1) 100%);
          background: -ms-linear-gradient(left, rgba(0,37,73,1) 0%, rgba(0,77,128,1) 100%);
          background: linear-gradient(to right, rgba(0,37,73,1) 0%, rgba(0,77,128,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002549', endColorstr='#004d80', GradientType=1 );
          position: absolute;
          left: 0;
          right: 0;
          top: 82px;
          z-index: -2;
          -webkit-clip-path: polygon(0 0, 100% 18%, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 18%, 100% 100%, 0% 100%);
        }
        &:after{
          content: "";
          width: 100%;
          height: 539px;
          background: $color-blue--light;
          position: absolute;
          left: 0;
          right: 0;
          top: 82px;
          z-index: -5;
          -webkit-clip-path: polygon(0 35%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 35%, 100% 0, 100% 100%, 0% 100%);
        }
      }
    }
  }
}

.request-demo-copy{
  position: relative;
  .flexbox &{
    display: flex;
    flex-direction: column;
  }

  .footer-address p{
    span{
    @include font-size(16);
    color: white;
      @include breakpoint($bp-meder-1){
      @include font-size(21);
      }
    }
  }
  .footer-fax-tel-email{
    .flexbox &{
      display: flex;
      flex-direction: column;
    }
    p{
      order: -1;
      a{
      @include font-size(16);
      color: white;
        @include breakpoint($bp-meder-1){
          @include font-size(21);
        }
      }
    }
  }
  .request-demo-learn-more-copy{
    .flexbox &{
      display: flex;
      flex-direction: row;
      @include breakpoint($bp-meder-1){
      flex-direction: column;
      }
    }
    .navigation--main{
      display: none;
    }
    .footer-fax-tel-email{
    order: -1;
    }
    p{
      line-height: 1.2;
      &:nth-of-type(1):before{
        content: "Office";
        @include font-size(16);
        text-transform: uppercase;
        font-weight: 700;
        color: $color-blue--light;
        display: block;
        width: 50px;
        height: 40px;
        line-height: 3;
      }
      &:nth-of-type(2):before{
        content: "Phone";
        @include font-size(16);
        text-transform: uppercase;
        font-weight: 700;
        color: $color-blue--light;
        display: block;
        width: 50px;
        height: 40px;
        line-height: 3;
      }
    }
    p{
      .email:before{
        content: "Email";
        @include font-size(12);
        text-transform: uppercase;
        font-weight: 700;
        color: #93c3e3;
        display: block;
        width: 50px;
        line-height: 3;
      }
    }
    a{
      text-decoration: none;
    }
  }
}



a[href^=mailto], a[href^=tel]{
  color: #012649;
  text-decoration: underline;
}
a[href^=mailto], a[href^=tel] {
  &:hover{
    text-decoration: none;
  }
}
a.mobile-link-hide {
  @include button( $button-color );
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#004c80+0,002549+100 */
  background: #004c80; /* Old browsers */
  background: -moz-linear-gradient(left, #004c80 0%, #002549 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #004c80 0%,#002549 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #004c80 0%,#002549 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004c80', endColorstr='#002549',GradientType=1 ); /* IE6-9 */
  margin: auto;
  position: relative;
  overflow: hidden;
  &:before{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #002549; /* Old browsers */
    background: -moz-linear-gradient(left, #002549 0%, #004c80 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #002549 0%,#004c80 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #002549 0%,#004c80 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002549', endColorstr='#004c80',GradientType=1 ); /* IE6-9 */
    z-index: -1;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    content: ' ';
  }
  &:hover,
  &:active{
    background: #004C80;
    -webkit-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
    overflow: hidden;
    &:before{
      opacity: 0;
    }
  }
  span{
    position: relative;
  }
  a{
    color: #fff;
    text-decoration: none;
    &:hover,
    &:active{
      color: #fff;
      text-decoration: none;
    }
  }
  @include breakpoint($bp-med){
    display: none;
  }
}
