
.blog-page {
  @extend .section;

  article {
    + article {
      margin-top: 2em;
      padding-top: 2em;
      border-top: 2px solid $border-color;
    }
  }

  .entry-footer {
    .comments-link,
    .edit-link {
      background: $bkg-med-grey;
      border: 1px solid darken(#fff, 5%);
      color: #fff;

      a {
        color: #fff;
      }
    }
  }

  .nav-links {
    a {
      color: $link-color;
    }
  }
}
