
.button,
input[type="submit"] {
  @include button( $button-color );
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#004c80+0,002549+100 */
  background: #004c80; /* Old browsers */
  background: -moz-linear-gradient(left, #004c80 0%, #002549 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #004c80 0%,#002549 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #004c80 0%,#002549 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004c80', endColorstr='#002549',GradientType=1 ); /* IE6-9 */
  position: relative;
  overflow: hidden;
  &:before{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #002549; /* Old browsers */
    background: -moz-linear-gradient(left, #002549 0%, #004c80 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #002549 0%,#004c80 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #002549 0%,#004c80 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002549', endColorstr='#004c80',GradientType=1 ); /* IE6-9 */
    z-index: -1;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    content: ' ';
  }
  &:hover,
  &:active{
    background: #004C80;
    -webkit-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
    overflow: hidden;
    &:before{
      opacity: 0;
    }
  }
  span{
    position: relative;
  }
  a{
    color: #fff;
    text-decoration: none;
    &:hover,
    &:active{
      color: #fff;
      text-decoration: none;
    }
  }
}

.button-2 {
  @include button( $button-color );
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#93c3e3+0,a4cee9+50,c5e3f3+100 */
  background: #93c3e3; /* Old browsers */
  background: -moz-linear-gradient(left, #93c3e3 0%, #a4cee9 50%, #c5e3f3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #93c3e3 0%,#a4cee9 50%,#c5e3f3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #93c3e3 0%,#a4cee9 50%,#c5e3f3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93c3e3', endColorstr='#c5e3f3',GradientType=1 ); /* IE6-9 */
  position: relative;
  overflow: hidden;
  padding: 1em 1.25em;
  @include breakpoint($bp-med){
    padding: 1.1em 1.45em;
  }
  @include breakpoint($bp-large){
    padding: 1.1em 2.4em;
  }
  &:before{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#93c3e3+0,a4cee9+50,c5e3f3+100 */
    background: #93c3e3; /* Old browsers */
    background: -moz-linear-gradient(left, #93c3e3 0%, #a4cee9 50%, #c5e3f3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #93c3e3 0%,#a4cee9 50%,#c5e3f3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #93c3e3 0%,#a4cee9 50%,#c5e3f3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93c3e3', endColorstr='#c5e3f3',GradientType=1 ); /* IE6-9 */
    z-index: -1;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    content: ' ';
  }
  &:hover,
  &:active{
    background: #93C3E3;
    -webkit-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
    overflow: hidden;
    &:before{
      opacity: 0;
    }
  }
}

.button-2 {
  span{
    position: relative;
    color: $color-blue--dark;
    text-decoration: none;
    &:hover,
    &:active{
      color: $color-blue--dark;
      text-decoration: none;
    }
  }
}

.text-button {
  @include button-reset;
  padding: .15em 0;
  padding-right: 2.15em;
  color: $button-color;
  font-size: .875em;
  font-weight: 700;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $button-color--hover;
  }
}

.button-group {
  margin-top: -8px;
  margin-left: -8px;

  .button {
    margin: 8px;
  }
}


.learn-more-body{
  .invert-button{
    background: white;
    color: $color-blue--dark;
    background-image: url('../img/icons/button-arrow.png');
    background-position: right;
    background-repeat: no-repeat;
    transition: .5s;
    padding: 1.1em 1.4em;
    padding-left: 0;
    &:hover{
      background: white;
      background-image: url('../img/icons/button-arrow.png');
      background-position: right;
      background-repeat: no-repeat;
      color: $color-blue--dark;
      padding-right: 2em;
      transition: .5s;
    }
    &:after{
      content: "";
      background: white;
      color: $color-blue--dark;
      background-image: url('../img/icons/button-arrow.png');
      background-position: right;
      background-repeat: no-repeat;
      transition: .5s;
      &:hover,
      &:focus {
        background: white;
        padding-right: 2em;
      }
    }
    &:before{
      background: white;
      background-image: url('../img/icons/button-arrow.png');
      background-position: right;
      background-repeat: no-repeat;
      &:hover,
      &:focus {
        background: white;
      }
    }
  }
}




.learn-more-header{
  .button, h2{
    display: none;
    @include breakpoint($bp-med){
      display: block;
    }
  }
}


a.button-2 {
    text-decoration: none !important;
}
