
/**
 * Block Bkg Colors
 */

.color-option-1 {
  background-color: #fff;
}

.color-option-2 {
  background-color: $bkg-light-grey;
}

.color-option-3{
  background-color: $bkg-light-blue;
}
.color-option-4{
  background-color: $bkg-dark-blue;
  @include reverse-block-color;
}

.color-option-5{
  background-color: #004C80;
  @include reverse-block-color;
}

.fullwidth-layout.color-option-2 + .column-layout.color-option-2{
  .wrap{
    &:before{
      content: "";
      width: 100%;
      height: 2px;
      border-top: 2px solid #D8D8D8;
      display: block;
      margin: auto;
      padding-bottom: 4em;
    }
  }
}


.background-image {
  @include reverse-block-color();
  background-color: $bkg-dark-grey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.color-option-1 > .focusmd-overlay, .color-option-2 > .focusmd-overlay, .color-option-3 > .focusmd-overlay, .color-option-4 > .focusmd-overlay, .color-option-5 > .focusmd-overlay {
    background: none;
    color: white;
}

.color-option-3 .quote-block, .color-option-2 .quote-block, .color-option-1 .quote-block{
  h2{
    color: $color-blue--dark;
  }
  p{
    color: $color-blue--dark;
  }
  span{
    color: $color-blue--dark;
  }
}

.color-option-4 .quote-block, .color-option-5 .quote-block{
  h2{
    @include reverse-block-color;
  }
  p{
    @include reverse-block-color;
  }
  span{
    @include reverse-block-color;
  }
}
