
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0;
  margin-bottom: .5em;
  color: $heading-color;
  font-family: $font-heading;
  font-weight: 700;
  line-height: 1.2;

  p + &,
  ul + &,
  ol + & {
    margin-top: 1em;
  }
}

h1, .h1 {
  @include font-size(40);
  color: $color-blue--dark;
  font-weight: 300;
  @include breakpoint($bp-large) {
    @include font-size(46);
  }
}

h2, .h2 {
  @include font-size(36);

  @include breakpoint($bp-large) {
    @include font-size(36);
  }
}

h3, .h3 {
  @include font-size(26);
  font-weight: 400;
}

h4, .h4 {
  @include font-size(18);
  color: $color-blue--light;
  font-weight: 700;
}

h5, .h5 {
  @include font-size(17);
}

h6, .h6 {
  @include font-size(27);
}
