
table {
  margin-bottom: 1em;
  border: 1px solid #eee;
  border-collapse: collapse;
  border-spacing: 0;
}

tr {
  + tr {
    td,
    th {
      border-top: 1px solid #eee;
    }
  }
}

td,
th {
  padding: .5em 1em;
}

th {
  font-weight: 700;
  text-align: center;
}

td {

  + td {
    border-left: 1px solid #eee;
  }
}
