
p {
  margin: 0;
  margin-bottom: 1em;
}

hr {
  margin: $vertical-padding;
  border: 0 none;
  width: 100%;
  height: 1px;
  background-color: $border-color;
}

address {
  font-style: normal;
}

blockquote {
  border-radius: 8px;
  margin: 1em 0;
  padding: 2em;

  p {
    margin: 0;
    font-size: 1.25em;
    font-style: italic;

    + p {
      margin-top: 1em;
    }
  }
}

cite {
  display: block;
  margin-top: .5em;
  font-size: .8em;
  line-height: 1.2;
  font-style: normal;

  &::before {
    content: '\2013\2002';
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      color: inherit;
      text-decoration: none;
    }
  }
}



/**
 * Inline Els
 */

a {
  color: $link-color;
  text-decoration: underline;
  transition: color 500ms;

  &:hover,
  &:focus {
    color: $link-color--hover;
    text-decoration: underline;
  }
}

a[href^="tel"],
a[href^="mailto"] {
  text-decoration: none;
  cursor: default;
  color: $text-color;

  &:hover,
  &:focus {
    color: $text-color;
  }
}
