
.banner {
  position: relative;
  width: 100%;
  background-color: $color-blue--light;
  overflow: hidden;

  @include breakpoint($bp-small) {
    padding: 0;
  }
  .wrap{
    position: relative;
  }
  @include breakpoint($bp-med){
  }
}

.banner-title {
  position: relative;
  padding: 2em 0;
  z-index: 10;

  @include breakpoint($bp-med) {
    padding: 4.9375em 0;
  }

  .h1 {
    @include font-size(36);
    margin: 0;
    display: block;
    color: #d8d8d8;
    font-family: $font-heading;
    font-weight: 700;
    text-transform: capitalize;
    text-align: left;
    color: $color-blue--dark;

    @include breakpoint($bp-med) {
      @include font-size(36);
    }
  }
}

.banner-image {
  @include block-fit-cover( 100em );
  opacity: 1;
  overflow: hidden;
}

.focusmd-banner-overlay {
  background: #012b509c;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.banner-image-container {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  overflow: hidden;
  -webkit-clip-path: none;
  clip-path: none;
  z-index: 0;
}
.banner-title .h1{
  color: white;
  font-size: 1.8em;
}
@include breakpoint($bp-med){
  .focusmd-banner-overlay{
    display: none;
  }
  .banner-image-container{
    position: absolute;
    width: 50%;
    right: 0;
    top: 0;
    left: auto;
    height: 100%;
    overflow: hidden;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    z-index: 1;
  }
  .banner-title .h1{
    color: #002549;
    font-size: 2.25em;
  }
}
