
/**
 * Template Layout - Parallax
 */

.photo-block-layout {
  position: relative;
  height: 20em;
  background-color: $bkg-med-grey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.photo-block-layout--parallax {
  background-attachment: fixed;
}

.photo-block-layout{
  position: relative;
  &:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: $color-blue--dark;
    opacity: .4;
  }
}
