
.split-block-layout {
  @include clearfix;
  min-height: 31.25em;

  .flexbox & {
    @include breakpoint($bp-med) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &.split-block-layout--right {
    flex-direction: row-reverse;
  }
}

.split-block-col {
  position: relative;
  overflow: hidden;

  @include breakpoint($bp-med) {
    float: left;
    width: 50%;
  }

  .flexbox & {
    @include breakpoint($bp-med) {
      display: flex;
      align-items: center;
    }
  }
}

.split-block-content-inner-wrap {
  @include breakpoint($bp-med) {
    max-width: 32.875em;
  }
}

.split-block-content {
  padding: 3em 1em;
  width: 100%;

  @include breakpoint($bp-med) {
    padding: 2.625em;
  }

  @include breakpoint($bp-xl) {
    padding: 4.625em;
  }

  .flexbox & {
    @include breakpoint($bp-med) {
      display: flex;
      justify-content: flex-start;
    }
  }

  .split-block-layout--right & {
    .flexbox & {
      @include breakpoint($bp-med) {
        justify-content: flex-end;
      }
    }
  }
}

.split-block-image {
  display: block;

  @include breakpoint($bp-med) {
    @include block-fit-cover( 50em );
  }
}
