
.slider-container{
  .quote-block-layout{
    min-height: 700px;
    .flexbox &{
      display: flex;
      align-items: center;
      .wrap--limited{
        margin: auto;
      }
    }
  }
  .quote-block-body{
    p{
      font-size: 1.1em;
      @include breakpoint($bp-med){
      font-size: 1.375em;
      }
    }
  }
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #667a8e;
}
svg.svg-right-icon {
    margin-right: 6em;
}
svg.svg-left-icon {
    margin-left: 6em;
}
