
/**
 * Button Block
 */

.button-block-layout {
  position: relative;
  padding: 8em 0 !important;
  .wrap {
    position: relative;
    z-index: 10;
  }
}

.button-block-layout-bkg {
  @include block-fit-cover( 100em );
  opacity: .3;
}

.button-block {
  margin: -.5em 0;
  text-align: center;

  @include breakpoint($bp-med) {
    margin: 0 -2em;
  }

  .flexbox & {
    @include breakpoint($bp-med) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  .callout-header,
  .callout-body {
    padding: .5em 0;

    @include breakpoint($bp-med) {
      padding: 0 2em;
    }
  }

  .callout-header {

    h2 {
      .flexbox & {
        margin: 0;
        margin-bottom: .5em;
      }
    }
  }
}

.button-callout-content {
  width: 100%;

  .flexbox & {
    @include breakpoint($bp-large) {
      display: flex;
      justify-content: space-between;
    align-items: center;
      flex-direction: column;
    }
  }

  p {
    margin: 0 0 1em 0;
    @include font-size(22);
    line-height: 26pt;

    .flexbox & {
      @include breakpoint($bp-large) {
        flex: 1 0 0;
        margin: 0;
        padding-right: 0em;
        margin-bottom: 2.3em;
      }
    }
  }
}
