
.quote-block-layout {
  position: relative;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  .wrap {
    position: relative;
    z-index: 10;
  }
}

.quote-block-layout-bkg {
  @include block-fit-cover( 100em );
  opacity: .3;
}

.quote-block {

}

.quote-icon {
  text-align: center;
}

.quote-icon-svg {
  color: $link-color;
}

.quote-block-body {
  margin-top: 1em;

  p {
    @include font-size(22);
    color: #fff;
    font-weight: 600;
    line-height: 1.4;
    font-style: normal;
  }
}

.quote-block-citation {
  margin-top: 2.3em;
  font-size: 1em;
  line-height: 1.2;

  &::before {
    content: none;
  }
}

.quote-name {
  @include font-size(18);
  display: block;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.quote-title {
  display: block;
  margin-top: .5em;
  color: white;
  font-weight: 700;
  letter-spacing: .0625em;
  text-transform: uppercase;
}


.focusmd-overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #002549;
}

blockquote{
  @include breakpoint($bp-med){
    padding: 4em;
  }
}
