
.hero {
  position: relative;
  min-height: 18em;
  max-height: 62.4375em;
  overflow: hidden;
  height: 20vh;
  @include breakpoint($bp-med){
    height: 30vh;
  }
  @include breakpoint($bp-large){
    height: 50vh;
  }
  @include breakpoint($bp-xl){
    height: 50vh;
  }
  @include breakpoint($bp-mega){
    height: 55vh;
  }
  &.background-image {
    background-color: $color-grey--dark;
  }
  .flexbox & {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wrap {
    position: relative;
    max-width: 39.625em;
    z-index: 10;
    @include breakpoint($bp-large) {
      max-width: 600px;
      margin-right: 0;
    }

    .flexbox & {
      width: 600px;
    }
  }
}

.hero-bkg-image {
  @include block-fit-cover( 100em );
  opacity: 1;
}

.hero-box {

}

.hero-content {
  text-align: center;
  @include breakpoint($bp-med){
    text-align: left;
  }

  h1 {
    @include font-size(35);
    color: #fff;
    font-weight: 300;
    @include breakpoint($bp-med) {
      @include font-size(42);
    }
    @include breakpoint($bp-large) {
      @include font-size(52);
    }
    span{
      font-weight: 700;
    }
  }

  p {
    color: #fff;
    font-size: 1.375em;
  }

  .button {

  }
}

.shape-1{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  background: rgba(0,37,73,.75);
  z-index: 10;
  width: 100%;
  .flexbox &{
    display: flex;
    align-items: center;
  }

  @include breakpoint($bp-med){
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    background: rgba(0,37,73,.75);
    z-index: 10;
    -webkit-clip-path: polygon(0 0, 83% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 83% 0, 100% 100%, 0% 100%);
    width: 50%;
  }
}
.shape-2{
  display: none;
  @include breakpoint($bp-med){
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    background: rgba(147,195,227,.75);
    z-index: 9;
    -webkit-clip-path: polygon(0 0, 100% 0, 83% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 83% 100%, 0% 100%);
    width: 50%;
  }
}

.background-image a{
  text-decoration: none;
}

@include breakpoint($bp-med){

}
