
/**
 * Page Header
 */

.page-title {}

.page-header {}


/**
 * Entry Header
 */

.entry-header {
  .entry-meta {
    margin: 1em 0 2em;
  }
}

.entry-title {
  margin-bottom: .5em;
  font-weight: 300;

  a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $color-blue--light;
    }
  }
}

.entry-meta {
  margin: 1em 0 1em;

  p {
    margin: 0;
    font-size: .8125em;
    font-weight: 700;
    color: $heading-color;
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: $heading-color;

      &:hover,
      &:focus {
        color: darken($heading-color, 15%);
      }
    }
  }
}
