
/**
 * Sidebar Layout
 */

.l-sidebar {
  @include clearfix;
  margin-left: -2em;

  .l-main-col,
  .l-aside-col {
    padding-left: 2em;

    @include breakpoint($bp-med) {
      float: right;
    }
  }

  .l-main-col {
    @include breakpoint($bp-med) {
      width: 70%;
      float: left;
    }
  }

  .l-aside-col {
    @include breakpoint($bp-med) {
      width: 23%;
    }
  }
}
