
.sidebar-nav {
  ul {
    @include list-reset;
  }
  li {
    display: block;
    margin: 0;
    a {
      display: block;
      padding: 0.5em 1.5em 0 1.5em;
      color: $nav-link-color;
      text-decoration: none;
      background: $bkg-light-grey;
      transition: background-color 500ms, color 500ms;
      font-weight: 700;
      text-transform: uppercase;
      &:hover,
      &:focus {
        color: $nav-link-color--hover;
      }
      &:after{
        content: "";
        display: block;
        border-bottom: 2px solid #D8D8D8;
        margin-top: 0.5em;
        width: 100%;
      }
    }
  }
  li:first-child a{
    padding-top: 1.5em;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  li:last-child a{
    padding-bottom: 1.5em;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    &:after{
      border-bottom: none;
      margin-top: 0;
    }
  }

  .children {
    display: none;
    margin-left: 1em;
  }

  .current_page_item {
    > a {
      color: $nav-link-color--active;
      background: $bkg-light-grey;
    }
  }

  .current-menu-item,
  .current-menu-ancestor,
  .current-page-ancestor {
    > .children {
      display: block;
    }
  }
}
