
.navigation--main {
  position: relative;
  width: 100%;
  text-align: right;
  z-index: 490;

  li {
    position: relative;
  }

  a {
    @include font-size(15);
    display: block;
    padding: .5em .15em;
    color: $nav-link-color;
    font-family: $font-heading;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;
    text-transform: uppercase;
    @include breakpoint($bp-med){
      @include font-size(16);
    }
    @include breakpoint($bp-large) {
      @include font-size(16);
    }
    @include breakpoint($bp-xl) {
      @include font-size(16);
    }

    &:hover,
    &:focus {
      color: $nav-link-color--hover;
      text-decoration: none;
    }
  }

  > ul {
    > li {
      + li {
        @include breakpoint($bp-med){
        margin-left: 0.7em;
        }
        @include breakpoint($bp-large){
        margin-left: 1em;
        }
        @include breakpoint($bp-xl){
        margin-left: 1.5em;
        }
      }
    }
  }

  .current-menu-item,
  .current-menu-ancestor,
  .current-page-ancestor {
    > a {
      color: $nav-link-color--active;
    }
  }

  .sub-menu {
    @include list-reset;
    position: absolute;
    left: -9999px;
    top: 100%;
    margin: 0;
    padding: .5em 0;
    min-width: 13em;
    text-align: left;
    z-index: 490;
    opacity: 0;
    transition: opacity 100ms linear;
    background: #002549;
    background: -webkit-gradient(left top,right top,color-stop(0,#002549),color-stop(100%,#004d80));
    background: -o-linear-gradient(left,#002549 0,#004d80 100%);
    background: -webkit-gradient(linear,left top,right top,from(#002549),to(#004d80));
    background: linear-gradient(90deg,#002549 0,#004d80);
    li {
      display: block;
      margin: 0;
      a {
        color: white;
        padding: .5em 1em;
        @include breakpoint($bp-med){
          @include font-size(14);
        }
        @include breakpoint($bp-large){
          @include font-size(15);
        }
        @include breakpoint($bp-xl){
          @include font-size(16);
        }
        &:after{
          content: "";
          display: block;
          border-bottom: 1px solid #d8d8d852;
          margin-top: 0.5em;
          width: 100%;
        }
        &:hover{
          color: #8cb3d8;
        }
      }
    }
    li:first-child a{
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }
    li:last-child a{
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      &:after{
        border-bottom: none;
        margin-top: 0;
      }
    }
  }

  li {
    &:hover,
    &.is-active {
      > .sub-menu {
        left: 0;
        opacity: 0.9;
      }
    }

    &:last-child {
      &:hover,
      &.is-active {
        > .sub-menu {
          left: auto;
          right: 0;
        }
      }
    }
  }

  .sub-menu li {
    &:hover,
    &.is-active {
      > .sub-menu {
        left: 100%;
        top: 0;
      }
    }
  }
}
