

.mobile-nav-tray {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #fff;
  overflow-y: scroll;
  transition: transform 350ms;

  @include breakpoint($bp-med) {
    display: none;
  }

  .admin-bar & {
    padding-top: 2.875em;
  }

  .show-nav & {
    transform: translateX( -100% );
    transform: translate3d( -100%, 0, 0 );

    @include breakpoint($bp-med) {
      transform: translateX( 0 );
      transform: translate3d( 0, 0, 0 );
    }
  }
}


.navigation--mobile {
  padding: 2em 0;
  text-align: center;
  padding-top: 0.5em;
}

.mobile-nav-header {
  padding: 0 1em;
  text-align: right;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #e9eaea;
  @include breakpoint($bp-med){
    margin-bottom: 0;
  }
  .flexbox &{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a {
    display: inline-block;
    vertical-align: top;
  }
}

.mobile-nav {
  @include list-reset;

  + .mobile-nav {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #dedede;
  }

  ul {
    @include list-reset;
  }

  li {
    margin: 0;

    + li {}
  }

  a {
    @include font-size(20);
    display: block;
    padding: .25em;
    color: $heading-color;
    font-family: $font-heading;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    transition: color 500ms;
    &:hover,
    &:focus {
      color: lighten($heading-color, 15%);
    }
  }

  .sub-menu {
    display: none;
    background: $bkg-light-grey;
    a {
      @include font-size(15);
    }
  }
}

.mobile-nav--main {
   .menu-item-has-children > a{
    position: relative;
    &:after{
      content: "+";
      position: absolute;
      right: 33px;
      top: 7px;
      width: 15px;
      height: 15px;
    }
  }
}

.mobile-nav--utility {
  a {
    font-size: 1em;
  }
}


.mobile-nav--search {
  margin-top: 2em;
  padding: 0 1em;

  .search-bar {
    .search-submit {
      border-color: $text-color;
      font-size: 1.1875em;
      background: $text-color;

      &:hover,
      &:focus {
        background: $text-color;
        border-color: $text-color;
      }
    }

    .search-field {
      border: 1px solid $text-color;
      border-radius: 3px;
      font-size: 1.1875em;

      &:focus {
        border-color: $text-color;
      }
    }
  }
}
