
/**
 * Generic Navs
 */

.nav-list {
  .flexbox &{
    display: flex;
    align-items: center;
  }
  @include list-reset();

  li {
    @include nav-item-reset();

    + li {
      margin-left: .75em;
    }
  }
}


/**
 * Aria Nav Hover Overlay
 * ---
 * For handling the 'click-out' of aria dropdowns.
 */

.js-aria-hover-overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 50;

  &.is-active {
    display: block;
  }
}
