
.navigation--utility {
  padding: .15em .5em;
  background: #eee;

  li {
    + li {
      padding-left: .75em;
      border-left: 1px solid $border-color;
    }
  }

  a {
    @include font-size(14);
    color: $link-color;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $link-color--hover;
    }
  }

  .current-menu-item,
  .current-menu-ancestor,
  .current-page-ancestor {
    > a {
      color: $link-color--hover;
    }
  }

  .sub-menu {
    display: none;
  }
}
