/**
 * Variables
 */


/**
 * Fonts
 * ---
 */

$font-base:    'Open Sans', sans-serif;
$font-heading: 'Open Sans', sans-serif;



/**
 * Color Variables
 * ---
 * Main colors. Replace these with your own.
 */

// Main Colors
$color-grey--dark:    #403F43;
$color-grey--light:   #F0F1F2;
$color-blue--dark:    #002549;
$color-blue--light:   #93C3E3;

// Secondary Colors
$color-grey--med-2:   #abb6bb;

// Utility Colors
$color-red:           #ab2b2b;
$color-green:         #2bab2b;


/**
 * Theme Colors
 * ---
 * The theme colors define specific elements
 * of the template.
 */


$focus-light-blue: #004C80;
$focus-dark-blue: #002549;

$focus-gray: #F0F1F2;


/**
 * Typography Colors
 */

// Text Colors
$text-color:          $color-grey--dark;
$heading-color:       $color-blue--dark;

// Link Colors
$link-color:          $color-blue--dark;
$link-color--hover:   darken($link-color, 15%);

// Button Colors
$button-color:        $color-grey--dark;
$button-color--hover: darken($button-color, 15%);

// List Colors
$ul-bullet-color:     $color-grey--dark;


/**
 * Block Colors
 */

// Background Colors
$bkg-light-grey:  $color-grey--light;
$bkg-med-grey:    $color-blue--dark;
$bkg-dark-grey:   $color-grey--dark;
$bkg-light-blue: $color-blue--light;
$bkg-dark-blue: $color-blue--dark;

// Transparent Background Colors
$bkg-med-grey--transparent: rgba( $bkg-med-grey, 0.95 );

// Border Colors
$border-color:    $color-grey--light;


/**
 * Navigation Colors
 */

$nav-link-color:          $color-blue--dark;
$nav-link-color--hover:   $color-blue--light;
$nav-link-color--active:  $color-blue--light;


/**
 * UI Colors
 */

$ui-error:    $color-red;
$ui-success:  $color-green;



/**
 * Layout
 * ---
 */

// 1200px + 2em padding ($max-width-spacing)
$max-width:         77em;
// 1200px + 4em padding ($max-width-spacing--large)
$max-width--large:  79em;
// 932px + 2em padding ($max-width-spacing)
$max-width--small:  60.25em;

$max-width-spacing:         0 1em;
$max-width-spacing--large:  0 2em;

$padding:                   3em;
$padding-medium:            3em;
$padding-large:             4em;

$vertical-padding:          3em 0;
$vertical-padding-medium:   3em 0;
$vertical-padding-large:    4em 0;

$horizontal-padding:        0 3em;
$horizontal-padding-medium: 0 3em;
$horizontal-padding-large:  0 4em;

$column-gutter:             2em;
$grid-gutter:               2em;



/**
 * Design/Animation
 * ---
 */

/**
 * Block design elements
 */

$border-radius: 3px;
$box-shadow: 0 0.15em 0.15em rgba( 0, 0, 0, 0.12 );
$box-shadow--light: 0 0 0.3125em rgba( 255, 255, 255, .5 );

// // Transitions
// $transition:        all 1s;
// $transition-fast:   all .5s;
// $transition-faster: all .25s;
// $transition-slow:   all 2s;
// $transition-slower: all 2.5s;
